@page
@model BAIS3130.Pages.LoginModel
@{
}

<form name="Login" method="post">
    <table>
        <tr>
            <td>
                Username:
            </td>
            <td>
                <input type="text" asp-for="Username" value="" required />
                <span asp-validation-for="Username"></span>
            </td>
        </tr>
        <tr>
            <td>
                Password:
            </td>
            <td>
                <input type="password" asp-for="Password" value="" required />
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" name="Submit" value="Submit" />
            </td>
        </tr>
    </table>
</form>

@Model.Message

<table>
    <tr>
        <td>
            First Name
        </td>
        <td>
            Last Name
        </td>
        <td>
            Username
        </td>
        <td>
            Password
        </td>
        <td>
            Membership Level
        </td>
    </tr>
    @foreach (var Member in Model.MemberLogins)
    {
        <tr>
            <td>
                @Member.FirstName
            </td>
            <td>
                @Member.LastName
            </td>
            <td>
                @Member.Username
            </td>
            <td>
                @Member.Password
            </td>
            <td>
                @Member.Membership
            </td>
        </tr>
    }
</table>