@page
@model BAIS3130.Pages.ModifyTeeTimeModel
@{
}


<form method="post">
    <table>
        <tr>
            <th>
                Name
            </th>
            <th>
                Team Member 1
            </th>
            <th>
                Team Member 2
            </th>
            <th>
                Team Member 3
            </th>
            <th>
                Requested Time
            </th>
            <th>
                Requested Date
            </th>
            <th>
                Desired Time
            </th>
            <th>
                Desired Date
            </th>
            <th>
                Number Of Carts
            </th>
            <th>
                
            </th>
        </tr>
        @{int TeeTimePos = 0; }
        @foreach (var teeTime in Model.TeeTimes)
        {
            <tr>
                <td>
                    @teeTime.FullName
                </td>
                <td>
                    @if (teeTime.MemberOneID == -1)
                    {
                        Html.Raw("N/A");
                    } else
                    {
                        Html.Raw(teeTime.MemberOneID);
                    }   
                </td>
                <td>
                    @if (teeTime.MemberTwoID == -1)
                    {
                        Html.Raw("N/A");
                    } else
                    {
                        Html.Raw(teeTime.MemberTwoID);
                    }
                </td>
                <td>
                    @if (teeTime.MemberThreeID == -1)
                {
                        Html.Raw("N/A");
                } else
                {
                        Html.Raw(teeTime.MemberThreeID);
                }
                </td>
                <td>
                    @teeTime.RequestedTime
                </td>
                <td>
                    @teeTime.RequestedDate
                </td>
                <td>
                    @teeTime.DesiredTime
                </td>
                <td>
                    @teeTime.DesiredDate
                </td>
                <td>
                    @teeTime.NumberOfCarts
                </td>
                <td>
                    <button type="submit" value="@TeeTimePos" name="Submit">Select to Modify</button>
                </td>
            </tr>
            TeeTimePos++;
        }
    </table>
</form>


<form method="post">
    <table>
        <tr>
            <td>
                Tee Time Date:
            </td>
            <td>
                <input type="date" asp-for="TeeTimeDate" value="@Model.TeeTimeDate" required/>
                <span asp-validation-for="TeeTimeDate"></span>
            </td>
        </tr>
        <tr>
            <td>
                Tee Time:
            </td>
            <td>
                <input type="time" asp-for="TeeTimeTime" value="@Model.TeeTimeTime" required/>
                <span asp-validation-for="TeeTimeTime"></span>
            </td>
        </tr>
        <tr>
            <td>
                Member One:
            </td>
            <td>
                @if (Model.MemberOne == -1)
            {
                    <input type="text" asp-for="MemberOne" value="N/A"/>
            } else
            {
                    <input type="text" asp-for="MemberOne" value="@Model.MemberOne"/>
            }
                <span asp-validation-for="MemberOne"></span>
            </td>
        </tr>
        <tr>
            <td>
                Member Two:
            </td>
            <td>
                @if (Model.MemberTwo == -1)
                {
                    <input type="text" asp-for="MemberTwo" value="N/A" />
                }
                else
                {
                    <input type="text" asp-for="MemberTwo" value="@Model.MemberTwo" />
                }
                <span asp-validation-for="MemberTwo"></span>
            </td>
        </tr>
        <tr>
            <td>
                Member Three:
            </td>
            <td>
                @if (Model.MemberThree == -1)
                {
                    <input type="text" asp-for="MemberThree" value="N/A" />
                }
                else
                {
                    <input type="text" asp-for="MemberThree" value="@Model.MemberThree" />
                }
                <span asp-validation-for="MemberThree"></span>
            </td>
        </tr>
        <tr>
            <td>
                Carts Requested:
            </td>
            <td>
                <input type="number" asp-for="NumberOfCarts" value="@Model.NumberOfCarts" min="0" max="4"/>
                <span asp-validation-for="NumberOfCarts"></span>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" name="Submit" value="Cancel" />
            </td>
            <td>
                <input type="submit" name="Submit" value="Modify" />
            </td>
            <td>
                <input type="submit" name="Submit" value="Check In" />
            </td>
        </tr>
    </table>
</form>