@page
@model BAIS3130.Pages.ModifyTeeTimeModel
@{
}


<form method="post">
    <table>
        <tr>
            <th>
                Name
            </th>
            <th>
                Team Member 1
            </th>
            <th>
                Team Member 2
            </th>
            <th>
                Team Member 3
            </th>
            <th>
                Requested Time
            </th>
            <th>
                Requested Date
            </th>
            <th>
                Desired Time
            </th>
            <th>
                Desired Date
            </th>
            <th>
                Number Of Carts
            </th>
            <th>
                
            </th>
        </tr>
        @{int TeeTimePos = 0; }
        @foreach (var teeTime in Model.TeeTimes)
        {
            <tr>
                <td>
                    @teeTime.FullName
                </td>
                <td>
                    @teeTime.MemberOneID
                </td>
                <td>
                    @teeTime.MemberTwoID
                </td>
                <td>
                    @teeTime.MemberThreeID
                </td>
                <td>
                    @teeTime.RequestedTime
                </td>
                <td>
                    @teeTime.RequestedDate
                </td>
                <td>
                    @teeTime.DesiredTime
                </td>
                <td>
                    @teeTime.DesiredDate
                </td>
                <td>
                    @teeTime.NumberOfCarts
                </td>
                <td>
                    <button type="submit" value="@TeeTimePos" name="Submit">Select to Modify</button>
                </td>
            </tr>
        }
    </table>
</form>


<form method="post">
    <table>
        <tr>
            <td>
                Tee Time Date:
            </td>
            <td>
                <input type="text" name="TeeTimeDate" value="@Model.TeeTimeDate" />
            </td>
        </tr>
        <tr>
            <td>
                Tee Time:
            </td>
            <td>
                <input type="text" name="TeeTimeTime" value="@Model.TeeTimeTime" />
            </td>
        </tr>
        <tr>
            <td>
                Member One:
            </td>
            <td>
                <input type="text" name="MemberOne" value="@Model.MemberOne" />
            </td>
        </tr>
        <tr>
            <td>
                Member Two:
            </td>
            <td>
                <input type="text" name="MemberTwo" value="@Model.MemberTwo" />
            </td>
        </tr>
        <tr>
            <td>
                Member Three:
            </td>
            <td>
                <input type="text" name="MemberThree" value="@Model.MemberThree" />
            </td>
        </tr>
        <tr>
            <td>
                Carts Requested:
            </td>
            <td>
                <input type="number" name="NumberOfCarts" value="@Model.NumberOfCarts" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" name="Submit" value="Cancel" />
            </td>
            <td>
                <input type="submit" name="Submit" value="Modify" />
            </td>
        </tr>
    </table>
</form>