@page
@model BAIS3130.Pages.ReviewApplicationModel
@{
}

<h1>Review Applications</h1>

<form  method="post">
    <table>
        <tr>
            <td>
                Application Number
            </td>
            <td>
                <input type="number" asp-for="ApplicationNumber" value="@Model.ApplicationNumber" min="0" required/>
                <span asp-validation-for="ApplicationNumber"></span>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" name="Submit" value="Find" />
            </td>
        </tr>
    </table>
</form>

<form method="post">
    <table>
        <tr>
            <td>
                First Name
            </td>
            <td>
                <input type="text" asp-for="FirstName" value="@Model.FirstName" />
                <span asp-validation-for="FirstName"></span>
            </td>
        </tr>
        <tr>
            <td>
                Last Name
            </td>
            <td>
                <input type="text" asp-for="LastName" value="@Model.LastName" />
                <span asp-validation-for="LastName"></span>
            </td>
        </tr>
        <tr>
            <td>
                Phone
            </td>
            <td>
                <input type="tel" asp-for="Phone" value="@Model.Phone" />
                <span asp-validation-for="Phone"></span>
            </td>
        </tr>
        <tr>
            <td>
                Alternate Phone
            </td>
            <td>
                <input type="tel" name="AlternatePhone" value="@Model.AlternatePhone" />
            </td>
        </tr>
        <tr>
            <td>
                Address
            </td>
            <td>
                <input type="text" asp-for="Address" value="@Model.Address" />
                <span asp-validation-for="Address"></span>
            </td>
        </tr>
        <tr>
            <td>
                Postal Code
            </td>
            <td>
                <input type="text" asp-for="PostalCode" value="@Model.PostalCode" />
                <span asp-validation-for="PostalCode"></span>
            </td>
        </tr>
        <tr>
            <td>
                Email
            </td>
            <td>
                <input type="text" asp-for="Email" value="@Model.Email" />
                <span asp-validation-for="Email"></span>
            </td>
        </tr>
        <tr>
            <td>
                Signed
            </td>
            <td>
                <input type="checkbox" name="Signed" checked="@Model.Signed" />
            </td>
        </tr>
        <tr>
            <td>
                Date Of Birth
            </td>
            <td>
                <input type="date" asp-for="DOB" value="@Model.DOB.ToString("yyyy-MM-dd")" />
                <span asp-validation-for="DOB"></span>
            </td>
        </tr>
        <tr>
            <td>
                Shareholder 1 Name
            </td>
            <td>
                <input type="text" name="Shareholder1Name" value="@Model.Shareholder1Name" />
            </td>
        </tr>
        <tr>
            <td>
                Shareholder 1 Signed
            </td>
            <td>
                <input type="checkbox" name="Shareholder1Signed" checked="@Model.Shareholder1Signed" />
            </td>
        </tr>
        <tr>
            <td>
                Shareholder 1 Date Signed
            </td>
            <td>
                <input type="date" name="Shareholder1Date" value="@Model.Shareholder1Date.ToString("yyyy-MM-dd")" />
            </td>
        </tr>
        <tr>
            <td>
                Shareholder 2 Name
            </td>
            <td>
                <input type="text" name="Shareholder2Name" value="@Model.Shareholder2Name" />
            </td>
        </tr>
        <tr>
            <td>
                Shareholder 2 Signed
            </td>
            <td>
                <input type="checkbox" name="Shareholder2Signed" checked="@Model.Shareholder2Signed" />
            </td>
        </tr>
        <tr>
            <td>
                Shareholder 2 Date Signed
            </td>
            <td>
                <input type="date" name="Shareholder2Date" value="@Model.Shareholder2Date.ToString("yyyy-MM-dd")"/>
            </td>
        </tr>
        <tr>
            <td>
                Membership Level:
            </td>
            <td>
                <select asp-for="Membership">
                    <option value="Gold" >Gold</option>
                    <option value="Silver">Silver</option>
                    <option value="Bronze">Bronze</option>
                    <option value="Copper">Copper</option>
                    <option value="Applicant" selected="selected">Applicant</option>
                </select>
                <span asp-validation-for="Membership"></span>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" name="Submit" value="Accept" />
            </td>
            <td>
                <input type="submit" name="Submit" value="Reject" />
            </td>
        </tr>
    </table>
</form>